html {
    background-color: white;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.3em;
}

h1 {
    font-size: 2.0 em;
}

h2 {
    font-size: 1.8 em;
}

h3 {
    font-size: 1.6 em;
}

h1, h2, h3, h4 {
    text-align: center;
}



body {
    background-color: #fff;
    border-top: solid 10px #000;
    color: #333;
    font-size: 1.3em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

section {
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
}

    section span.demo-info {
        color: #B49254;
        padding: 0 15px;
    }

        section span.demo-info:before {
            content: "(";
        }

        section span.demo-info:after {
            content: ")";
        }

input.small {
    width: 60px;
}

#help-container {
    text-align: left;
    margin-left: 30px;
}

    #help-container span.method, #help-container span.doco, #help-container span.parms {
        margin-left: 35px;
    }

    #help-container span.parm-item {
        margin-left: 40px;
    }

section ul.compact {
    list-style: circle;
    margin: auto;
}

    section ul.compact li {
        text-align: left;
    }

.hang-left {
    float: left;
}

.hang-right {
    float: right;
}

.half-width {
    width: 50%;
    margin: auto;
}

.ngShowSection {
    width: 30%;
    border: 1px dotted gray;
    margin: auto;
}

.numeric-error {
    color: red;
    font-weight: bold;
}

.demo-text-emphasis {
    color: #cf0b0b;
}

.demo-result-text-emphasis {
    color: #9d6c67;
    font-weight: 600;
}

.div-clickable {
    border: 1px dotted #808080;
    width: 12%;
    padding: 2px;
    margin: 4px auto;
    cursor: default;
}

.row-even {
    background-color: #d5f1ee;
}

.row-odd {
    background-color: #cafbbe;
}

.simple-list {
    list-style: none;
    font-size: 1.2em;
}

div.simple-directive-items div {
    display: inline;
    margin: 0 15px;
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

div.widgets {
    margin: auto;
    width: 50%;
}

    div.widgets div {
        margin: auto;
        width: 50%;
        display: inline;
    }


/*
        Form validation
*/
section form {
    margin: 4px 10px;
}
    section.form-validation ul {
        list-style: none;
        height: 5em;
    }
        section.form-validation input[type='submit'] {
            float: left;
        }

        section.form-validation ul li {
            clear: both;
        }
            section.form-validation ul li label, section.form-validation ul li input {
                width: 20%;
                float: left;
            }
            section.form-validation ul li input.ng-invalid {
                background-color: #ffcac1;
            }

    section form.ng-invalid fieldset {
        border-color: red;
        border-width: 5px;
    }
        section form.ng-invalid fieldset legend {
            color: #ff4444;
        }

    section form.ng-valid fieldset {
        border-color: green;
        border-width: 3px;
    }
        section form.ng-valid fieldset legend {
            color: #008800;
        }

        section form ul li sub {
            font-size: small;
            font-style: italic;
            float: left;
            margin-left: 10px;
        }

.validation-error-phone {
    position: absolute;
    margin-left: -230px;
}

.star-rating {
    background-color: #fffa21;
    padding: 4px 6px;
}
span.badge {
    margin-left: 10px;
    padding: 6px;
}

section.carousel {
    width: 50%;
    margin: auto;
}
.carousel-caption {
    height: 10px;
    padding: 5px;
    width: 30%;
    opacity: 0.7;
    z-index: 1;
    border-radius: 4px;
}
.carousel img {
    max-width: 200px;
    height: 200px;
    z-index: 2;
}
.carousel-indicators {
    display: none;
}

section.built-in-services div button {
    padding: 4px 6px;
    margin-bottom: 4px;
}

section.built-in-services span {
    margin-left: 5px;
}