html {
    background-color: white;
    margin: 0;
    padding: 0;
}

p {
	font-size:1.3em;
}

h1 {
	font-size: 2.0 em;
}
h2 {
	font-size: 1.8 em;
}
h3 {
	font-size: 1.6 em;
}

h1,h2,h3,h4 {
	text-align:center;
}



body {
    background-color: #fff;
    border-top: solid 10px #000;
    color: #333;
    font-size:1.3em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

section {
	margin: 5px 0;
	padding: 10px 0;
	text-align:center;
}

section span.demo-info {
	color: #B49254;
	padding: 0 15px;
}
	section span.demo-info:before {
		content:"(";
	}
	section span.demo-info:after {
		content:")";
	}
	
input.small {
	width: 60px;
}

#help-container {
	text-align:left;
	margin-left: 30px;
}

#help-container span.method,#help-container span.doco,#help-container span.parms {
	margin-left: 35px;
}
#help-container span.parm-item {
	margin-left:40px;
}

section ul.compact {
    list-style: circle;
    margin: auto;
}
    section ul.compact li {
        text-align:left;
    }

.hang-left {
    float: left;
}
.hang-right {
    float: right;
}

.half-width {
    width: 50%;
    margin: auto;
}

.ngShowSection {
    width: 30%;
    border: 1px dotted gray;
    margin: auto;
}

.numeric-error {
    color: red;
    font-weight: bold;
}

.demo-text-emphasis {
    color: #cf0b0b;
}

.demo-result-text-emphasis {
    color: #9d6c67;
    font-weight: 600;
}

.div-clickable {
    border: 1px dotted #808080;
    width: 12%;
    padding: 2px;
    margin: 4px auto;
    cursor: default;
}

.row-even {
    background-color: #d5f1ee;
}

.row-odd {
    background-color: #cafbbe;
}

.simple-list {
    list-style: none;
    font-size: 1.2em;    
}