<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Angular UI</title>
    <link href="../Content/demoPages.css" rel="stylesheet" type="text/css" />
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <script src="../Scripts/angular.js" type="text/javascript"></script>
    <script src="../Scripts/jquery-2.0.1.js"></script>
    <script src="AngularUI/ui-bootstrap-tpls-0.5.0.js"></script>
    <script src="AngularUI/bootstrap.js" type="text/javascript"></script>
    <script src="AngularUI/uiController.js" type="text/javascript"></script>
</head>

<body data-ng-app="angularDemo">
    <section data-ng-controller="uiController">
        <h4>Some AngularUI Examples</h4>
        
        <!--Tooltip-->
        <label>A tooltip: </label>
        <input data-ng-model="tooltipData" tooltip="Hi, I am tooltip!" tooltip-trigger="mouseenter" tooltip-placement="right" />
    
        <!--Dialog / Modal-->
        <section>
            <button class="btn-large" data-ng-click="openModal()" >Open Modal</button>
            <div modal="shouldModalOpen" options="modalOptions">
                <div class="modal-header">
                    <h3>I'm a modal!</h3>
                </div>
                <div class="modal-body">
                    <p>Dear Microsoft, please give me a Surface Pro</p>        
                </div>            
                <div class="modal-footer">
                    <button data-ng-click="closeModal()">Close</button>
                </div>
            </div>
        </section>
        
        <!--Star rating control-->
        <section>
            <h4>There are not enough stars to accurately rate how awesome this presentation is</h4>
            <div class="star-rating" data-rating max="ratingMax" value="starRating" data-on-hover="hoveringOver(value)" 
                 data-on-leave="hoverRating = starRating"></div>
            <span class="badge badge-inverse">&nbsp;&nbsp;{{hoverRating}}/{{ratingMax}}</span>
            <p>Your rating is: {{starRating}}</p>
        </section>
        
        <!--Carousel-->
        <section class="carousel">
            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" >
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <p>{{slide.text}}</p>
                    </div>
                </slide>
            </carousel>
        </section>

    </section>
</body>
</html>
