<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Angular Basics</title>
    <link href="../Content/demoPages.css" rel="stylesheet" type="text/css" />
    <script src="../Scripts/angular.js" type="text/javascript"></script>
    <script src="bootstrap.js" type="text/javascript"></script>
    <script src="AngularBasics/basicController.js" type="text/javascript"></script>
</head>
<body data-ng-app="angularDemo">
    <section data-ng-controller="basicController">
        <h4>Basic Binding</h4>
        <label>This is one way binding: </label><strong>{{whatAmI}}</strong><br />
        <label>This is two way binding: </label><input type="text" data-ng-model="whatAmI" />
        
        <h4>Binding to an object with filtering</h4>
        <label>Some Data Text: </label><span>{{someData.text}}</span><br />
        <label>Some Data Date (date format): </label><span>{{someData.currentDate | date:'dd MMM yyyy'}}</span><br />
        <label>Some Data Date (time format): </label><span>{{someData.currentDate | date:'hh:mm:ss'}}</span><br />
        <label>Some Data Amount (currency format): </label><span>{{someData.amount | currency:'$'}}</span><br/>
        <label>Some Data Amount + 10 (expression): </label><span>{{someData.amount + 10}}</span>
        <br />
        <label>Change amount: </label><input type="number" data-ng-model="someData.amount"/>
        
        <h4>Lists</h4>
        
        <div class="half-width">
            <div class="hang-left">
                <ul data-ng-repeat="item in listOfStuff" class="compact">
                    <li>{{item.text}}</li>
                </ul>
            </div>

            <div class="hang-right">
                <label>Selected Item: </label><span>{{listSelection}}</span><br/>        
                <select data-ng-model="listSelection" data-ng-options="item.key as item.text for item in listOfStuff"></select>
            </div>
        </div>
        </section>

</body>
</html>
