<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Built in Services</title>
        <link href="../Content/demoPages.css" rel="stylesheet" type="text/css" />
        <script src="../Scripts/angular.js" type="text/javascript"></script>
        <script src="bootstrap.js" type="text/javascript"></script>
        <script src="BuiltInServices/servicesController.js" type="text/javascript"></script>
        <script src="BuiltInServices/dataFactory.js"></script>
    </head>
    <!--You can use ng-app, data-ng-app, ng:app-->
<body data-ng-app="angularDemo">
    <section data-ng-controller="servicesController" class="built-in-services">
        <h4>Built in Services</h4>
        
        <h3>$http</h3>
        <div>
            <button data-ng-click="getData()">Get Data from server</button>
            <span>{{getDataResult}}</span>
            <img src="/Images/radar-transparent.gif" data-ng-show="showGetProgressIndicator"/>
        </div>
        <div>
            <button data-ng-click="postData()">Post data to server</button>
            <input type="text" data-ng-model="dataToPost" /><span>{{postDataResult}}</span>
            <img src="/Images/radar-transparent.gif" data-ng-show="showPostProgressIndicator"/>
        </div>
    </section>

</body>
</html>
