<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Services and Factories</title>
    <link href="../Content/demoPages.css" rel="stylesheet" type="text/css" />
    <script src="../Scripts/angular.js" type="text/javascript"></script>
    <script src="bootstrap.js" type="text/javascript"></script>
    <script src="ServicesFactories/servicesFactoriesController.js" type="text/javascript"></script>
    <script src="ServicesFactories/anotherController.js" type="text/javascript"></script>
    <script src="ServicesFactories/servicesFactoriesService.js" type="text/javascript"></script>
    <script src="ServicesFactories/servicesFactoriesFactory.js" type="text/javascript"></script>
</head>
<body data-ng-app="angularDemo">
    <section data-ng-controller="servicesFactoriesController">
        <h4>Invoke Service and Factory (servicesFactoriesController)</h4>
        <label>Call factory method: </label>
        <button data-ng-click="callFactory()">Call factory</button><br />

        <label>Call service method: </label>
        <button data-ng-click="callService()">Call service</button><br />
        <br />
        <label>Factory property value: {{factoryPropertyValue()}}</label>
        <label>Service property value: {{servicePropertyValue()}}</label>
        
    </section>
    
    <section data-ng-controller="anotherController">
        <h4>Invoke Service and Factory (anotherController)</h4>
        <label>Call factory method: </label>
        <button data-ng-click="callFactory()">Call factory</button><br />

        <label>Call service method: </label>
        <button data-ng-click="callService()">Call service</button><br />
        <br />
        <label>Factory property value: {{factoryPropertyValue()}}</label>
        <label>Service property value: {{servicePropertyValue()}}</label>
    </section>
    <hr />


</body>
</html>
